button[mat-flat-button] {
  background: linear-gradient(to right, #8e2de2, #ff6a88);
  color: #fff;

  &:hover {
    background: linear-gradient(to right, #ff6a88, #8e2de2);
  }
}

button.active-gradient {
  background: linear-gradient(to right, #c471ed, #f64f59);
}
