
<button
  routerLink="/home"
  class="btn btn-primary mr-3 left-btn back-btn">
  ← Go-to dashboard
</button>

 <div class="user-dashboard-header text-center">
  <h3><strong>Welcome To users Dashboards..</strong></h3>
</div>

<div class="row">
  <div class="col-12 text-right">
    <button
    routerLink="adduser"
    mat-mini-fab color="primary">
      <mat-icon
        ><span class="material-symbols-outlined" class="mr-4">
          person_add
        </span></mat-icon
      >
    </button>
    <strong class="mr-2">Add  Users</strong>
  </div>
</div>
<h3>
  Click On Users
  <span class="down-arrow">↓</span>
</h3>

<div class="row" *ngIf="userarray.length > 0; else Nousers">
  <div class="col-md-4">
    <ul class="list-group user-list">
      <li
        class="list-group-item user-item"
        role="button"
        [routerLink]="user.userid"
        *ngFor="let user of userarray"
      >
        <div class="d-flex justify-content-between align-items-center">
          <strong>{{ user.username }}</strong>
          <span class="text-muted">{{ user.userrole }}</span>
        </div>
      </li>
    </ul>
  </div>
</div>

<ng-template #Nousers>
  <p class="alert alert-info">No users Found Here..!!</p>
</ng-template>
