.parent{
    position:fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: purple;

}

.card{
    width: 400px;
   
    border-radius: 10%;
position: absolute;
transform: translate(-50%,-50%);
left: 50%;
top:50%;
}