.banner-wrapper {
  width: 100%;
}

.banner {
  position: relative;
  margin: 0;
  width: 100%;
  height: 320px;
  overflow: hidden;
  border-radius: 8px;
}

.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.banner::after {
  position: absolute;
  background: rgba(0, 0, 0, 0.35);
}
